@import 'tailwindcss';
@import './theme.css';

@layer base {
  body {
    @apply min-h-dvh bg-yellow-50/15 font-sans antialiased;
    font-feature-settings:
      'liga' 1,
      'calt' 1, /* fix for Chrome */
      'tnum' 1,
      'zero' 1,
      'ss01' 1,
      'cv05' 1;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
  }
}
