@theme inline {
  /* When defining theme variables that reference other variables, use the inline option: https://tailwindcss.com/docs/theme#referencing-other-variables */

  --font-sans: InterVariable, ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, 'Courier New', monospace;

  /* --color-primary: var(--color-blue-400) */
}
